@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #0b0c10;
    font-family: 'Montserrat', sans-serif;
}

.color1{
    color: #66fcf1;
}

.navbar {
    background-color:#1F2833;
}

.nav-btn {
    color: #66fcf1;
    background-color: #66fcf1;
}

.span-icon-btn {
    padding: 3px;
    border-radius: 5px;
    color: #66fcf1;
}

.navbar a {
    color: #ced4da;
    padding: 2px;
}

.navbar a:hover {
    color: #66fcf1;
}

.navbar a:active {
    width: fit-content;
    text-shadow: 0 0 20px #07c5b8;
}

.resume {
    width: fit-content;
    border: 1px solid #66fcf1;
    background-color: #078078;
    border-radius: 5px;
}

.resume:hover {
    background-color: #034d48;
}

.section {
    height: fit-content;
    margin-bottom: 5vh;
}

.hero {
    height: 300px;
    font-size: 1rem;
    color: #C5C6C7;
}

.hero span, a {
    display: flex;
    justify-content: center
    ;
    align-items:center;
}

.hire-btn {
    width: 100px;
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0bfded;
    color: #0b0c10;
    background-color: #66fcf1;
    transition: .2s ease-out;
}

.hire-btn:hover {
    color: #e8eaec;
    background-color: #07736c;
    transition: .2s ease-in;
}
.projects-btn {
    width: 100px;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0bfded;
    color: #0b0c10;
    background-color: #66fcf1;
    transition: .2s ease-out;
}

.projects-btn:hover {
    color: #e8eaec;
    background-color: #07736c;
    transition: .2s ease-in;
}

.social {
    width: 300px;
}

.social a {
    color: #66fcf1;
    font-size: 2rem;
    text-decoration: none;
    transition: .2s ease-out;
}

.social a:hover {
    text-shadow: 0 0 10px #10e6d7;
    color: #0bfded;
    transition: .2s ease-in
}

.about {
    width: auto;
}

.about p {
    color: #e8eaec;
}

.my-picture{
    width: fit-content;
    border-radius: 10px;
    box-shadow: 8px 8px 2px #2cf7e9;
    border: 2px solid #66fcf1;
}

.my-picture img {
    width: 200px;
    border: 1px solid black;
    filter:inherit ;
    border-radius: 10px;
}

.about-action {
    width: 100%;
}

.skills i {
    font-size: 5.5rem;
    color: #07c5b8;
}

.skills i:hover {
    text-shadow: 0 0 10px #07c5b8;
}

.portfolio {
    height: 100%;
}

.cardHolder {
    width: fit-content;
}

.card-body {
    background-color: #1F2833;
    max-height: 500px;
    width: 280px;
    border-radius: 5px;
    border: 5px solid #0bfded;
    transition: .2s ease-out;
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.card-body:hover {
    box-shadow: 0 0 5px #05f5e5;
}

.card-title {
    color: #e8eaec;
    font-size: larger;
    letter-spacing: .4mm;
    font-weight: bold;
}

.projectImg {
    width: 280px;
    padding: 10px;
}

.porjectDescription {
    color: #ced4da;
}

.card-body img {
    padding-bottom: 10px;
}

.visit-btn {
    width: 125px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: .9rem;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0bfded;
    color: #0b0c10;
    background-color: #66fcf1;
    transition: .2s ease-out;
}

.visit-btn:hover {
    color: #e8eaec;
    background-color: #07736c;
    transition: .2s ease-in;
}

.form {
    border: 1px solid #05f5e5;
    border-radius: 10px;
    padding: 20px;
    transition: .2s ease-out;
}

.form:hover {
    box-shadow: 0 0 5px #05f5e5;
    transition: .3s ease-in;
}

.contact-me {
    display: flex;
    justify-content: center;
}

.contact-input {
    background-color: #1F2833;
    color: #e8eaec;
}

.contact-input:hover {
    border: 1px solid #0bfded;
    box-shadow: 0 0 5px #10e6d7;
}

.message {
    flex-direction: column;
    height: 100px;
    padding-bottom: 20px;
}

.message::placeholder {
    font-size: 1rem;
}

.message-btn {
    width: 125px;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0bfded;
    color: #0b0c10;
    background-color: #66fcf1;
    transition: .2s ease-out;
}

.message-btn:hover {
    color: #e8eaec;
    background-color: #07736c;
    transition: .2s ease-in;
}

.footer {
    height: 20vh;
}

.footer span {
    color: #66fcf1;
    font-size: .9rem;
}